{% extends 'layout.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/photos/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/photos/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/photos/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/photos/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/photos/owl.theme.default.min.css' %}">

<link rel="stylesheet" href="{% static 'css/photos/lightgallery.min.css' %}">

<link rel="stylesheet" href="{% static 'css/photos/bootstrap-datepicker.css' %}">

<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css' %}">

<link rel="stylesheet" href="{% static 'css/photos/swiper.css' %}">

<link rel="stylesheet" href="{% static 'css/photos/aos.css' %}">

<link rel="stylesheet" href="{% static 'css/photos/stylephotos.css' %}">
<section class="inner_page_breadcrumb" aria-label="breadcrumb">
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="breadcrumb_title float-left"></h4>
      </div>
    </div>
  </div> -->
</section>

<div style="text-align:center; padding-top:-30px;" class ="alert alert-danger">
  <button type="button" class="btn btn-success" ><a href="{% url 'article:addImage' %}" style="color:white;">Add Image</a></button>
  <p style="font-style: italic;"> Images Added need to be approved by admin first to appear on the page(This is neccessary to reduce bots posting). <br> Thanks For adding an Image!</p>
</div>

<script>
$(document).ready(function(){
  $('#lightgallery').lightGallery();
});
</script>
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <div class="site-section"  data-aos="fade">
      <div class="container-fluid">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                <h2 class="site-section-heading text-center">Umoja Gallery</h2>
              </div>
            </div>
          </div>

        </div>
        <div class="row" id="lightgallery">
          {% for image in gallerys %}
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade">
            <img src="{{image.image.url}}" alt="IMage" class="img-fluid"  style="object-fit: cover; width:600px; height:600px;">
            <div style="position: absolute;top: 70%;left: 50%;transform: translate(-50%, -50%);"><h4>{%if image.eventName %} {{image.eventName}} {%endif %}</h4></div>
            <h5>{%if image.date_posted %} {{image.date_posted}} {%endif %}</h5>

          </div>

          {%endfor%}

          <!-- <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_1.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
          <img src="/media/images/nature_small_1.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis quaerat molestiae, praesentium. Ipsam, reiciendis. Aut molestiae animi earum laudantium.</p>">
          <img src="/media/images/nature_small_2.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_3.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reiciendis, dolorum illo temporibus culpa eaque dolore rerum quod voluptate doloribus.</p>">
          <img src="/media/images/nature_small_3.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_4.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim perferendis quae iusto omnis praesentium labore tempore eligendi quo corporis sapiente.</p>">
          <img src="/media/images/nature_small_4.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_5.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, voluptatum voluptate tempore aliquam, dolorem distinctio. In quas maiores tenetur sequi.</p>">
          <img src="/media/images/nature_small_5.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_6.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum cum culpa blanditiis illum, voluptatum iusto quisquam mollitia debitis quaerat maiores?</p>">
          <img src="/media/images/nature_small_6.jpg" alt="IMage" class="img-fluid">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_7.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores similique impedit possimus, laboriosam enim at placeat nihil voluptatibus voluptate hic!</p>">
          <img src="/media/images/nature_small_7.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_8.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam vitae sed cum mollitia itaque soluta laboriosam eaque sit ratione, aliquid.</p>">
          <img src="/media/images/nature_small_8.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_9.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reiciendis debitis beatae facilis quos, enim quis nobis magnam architecto earum!</p>">
          <img src="/media/images/nature_small_9.jpg" alt="IMage" class="img-fluid">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_9.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque officiis magnam, facilis nam eos perspiciatis eligendi pariatur numquam debitis quos!</p>">
          <img src="/media/images/nature_small_9.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_8.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis consequatur quam et, delectus, cum iste ipsa animi eligendi obcaecati nemo.</p>">
          <img src="/media/images/nature_small_8.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_7.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quia illo voluptatibus numquam inventore, ab asperiores molestiae distinctio atque nihil.</p>">
          <img src="/media/images/nature_small_7.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_6.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt unde placeat obcaecati sapiente illum, fuga nostrum necessitatibus delectus maiores magnam.</p>">
          <img src="/media/images/nature_small_6.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_5.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dignissimos non consectetur. Facilis totam, explicabo nam iure! Veniam modi, molestiae.</p>">
          <img src="/media/images/nature_small_5.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_4.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minus voluptatibus inventore odio. Iure amet nesciunt a, officia quo ex.</p>">
          <img src="/media/images/nature_small_4.jpg" alt="IMage" class="img-fluid">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_3.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium illum consectetur dolorum consequuntur sint doloribus eveniet deleniti! Illo, quibusdam, earum.</p>">
          <img src="/media/images/nature_small_3.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ad iure, inventore asperiores, cupiditate optio dignissimos labore quidem totam. Dignissimos.</p>">
          <img src="/media/images/nature_small_2.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_1.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam temporibus totam similique provident delectus quos fugiat officia earum nisi voluptatibus?</p>">
          <img src="/media/images/nature_small_1.jpg" alt="IMage" class="img-fluid">
          </div>


          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_1.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe beatae qui aliquid nostrum unde ut officiis omnis delectus sequi deleniti!</p>">
          <img src="/media/images/nature_small_1.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi iusto vero, soluta porro dicta quaerat tempore magni perferendis aspernatur cupiditate.</p>">
          <img src="/media/images/nature_small_2.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_3.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, minus officiis modi ducimus reprehenderit at ea voluptatum consequuntur enim nulla.</p>">
          <img src="/media/images/nature_small_3.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_4.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eligendi hic sed, quidem illum ipsa, cum tempora quo reiciendis accusantium.</p>">
          <img src="/media/images/nature_small_4.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_5.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis quaerat numquam repellendus pariatur commodi neque animi voluptatum illum dolore?</p>">
          <img src="/media/images/nature_small_5.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_6.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio praesentium maiores, veritatis illum voluptas alias aut unde esse aliquam itaque.</p>">
          <img src="/media/images/nature_small_6.jpg" alt="IMage" class="img-fluid">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_7.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt fugit, non facilis dignissimos minima nostrum nesciunt adipisci, quibusdam cum reprehenderit.</p>">
          <img src="/media/images/nature_small_7.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_8.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iure delectus obcaecati atque fugit enim quaerat suscipit tenetur in ratione?</p>">
          <img src="/media/images/nature_small_8.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_9.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa neque, eos quae eaque officia, repellendus dolore tempore cumque quibusdam? Maxime?</p>">
          <img src="/media/images/nature_small_9.jpg" alt="IMage" class="img-fluid">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_9.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, unde quis minus ex impedit necessitatibus nostrum, neque veniam repellat officiis!</p>">
          <img src="/media/images/nature_small_9.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_8.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eveniet sequi assumenda deserunt ab, tempora commodi autem debitis iusto sed.</p>">
          <img src="/media/images/nature_small_8.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_7.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, quasi, pariatur. Minima provident repellat cum, impedit, nemo exercitationem distinctio consequuntur.</p>">
          <img src="/media/images/nature_small_7.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_6.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nostrum expedita consequatur rerum laboriosam tempore nisi autem animi eveniet perspiciatis.</p>">
          <img src="/media/images/nature_small_6.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_5.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque consectetur error deserunt facilis facere, consequatur at officia quae culpa voluptatibus!</p>">
          <img src="/media/images/nature_small_5.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_4.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti minima porro, hic dolores. Ab, doloremque facilis numquam, ipsa repellendus voluptas.</p>">
          <img src="/media/images/nature_small_4.jpg" alt="IMage" class="img-fluid">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_3.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, dolor alias. Dignissimos hic voluptatibus dolorum expedita recusandae, consequatur distinctio est.</p>">
          <img src="/media/images/nature_small_3.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum similique, dolore esse quaerat incidunt ullam sit neque laboriosam velit quas.</p>">
          <img src="/media/images/nature_small_2.jpg" alt="IMage" class="img-fluid">
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="/media/images/big-images/nature_big_1.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem tempora deleniti, consectetur quisquam labore vitae quod quae debitis hic ab!</p>">
          <img src="/media/images/nature_small_1.jpg" alt="IMage" class="img-fluid">
          </div> -->

      </div>


    <script>
          $(document).ready(function(){
            $('#lightgallery').lightGallery();
          });
        </script>
      </div>
    </div>

</div>

<script src="{% static 'js/photos/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/photos/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/photos/jquery-ui.js' %}"></script>
<script src="{% static 'js/photos/popper.min.js' %}"></script>
<script src="{% static 'js/photos/bootstrap.min.js' %}"></script>
<script src="{% static 'js/photos/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/photos/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/photos/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/photos/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/photos/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/photos/swiper.min.js' %}"></script>
<script src="{% static 'js/photos/aos.js' %}"></script>

<script src="{% static 'js/photos/picturefill.min.js' %}"></script>
<script src="{% static 'js/photos/lightgallery-all.min.js' %}"></script>
<script src="{% static 'js/photos/jquery.mousewheel.min.js' %}"></script>

<script src="{% static 'js/photos/main.js' %}"></script>
  <script src="{% static 'js/photos/photos.js' %}"></script>


  <script>
  $(document).ready(function(){
    $('#lightgallery').lightGallery();
  });
</script>

{% endblock %}
